footer {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 4em 0em 2em 0em;
    .icon-btn {
        display: grid;
        place-items: center;
        width: 32px;
        height: 32px;

        border-radius: 50%;
        border: 1px solid white;
        &:hover {
            color: $clr-soft-magenta;
            border-color: $clr-soft-magenta;
        }
    }
}