@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,400;1,600&display=swap');
@import 'variables';
@import 'header';
@import 'main';
@import 'footer';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('/images/bg-mobile.svg') no-repeat, $clr-violet;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

header, main, footer {
    max-width: 80%;
    margin: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 1440px) {
    body {
        background: url('/images/bg-desktop.svg') no-repeat, $clr-violet;
        background-size: cover;
    }
}